<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('ExternalLinks.ejs')%>
    <%-include('ExternalScript.ejs')%>
</head>
    <body>
        <%-include('header.ejs')%>
        <%-include('div.ejs')%><br>
        <h2>Order By  :  <span style="font-size: 29px;"><%=personName%></span></h2>
        <h2></h2>
	<div class="lightbox row d-flex justify-content-around " id="product-display">
        <%purchaseItem.map((item,index)=>{%>
            <div class=" col-md-3  d-flex justify-content-center mt-3">
				<div class=""style="width: 90% ;border-radius: 3.5vh;border-right: 2px solid rgb(194, 187, 187);border-left: 2px solid rgb(196, 195, 195);padding: 1.5vh;">
					<div style="box-shadow: 3px 3px 5px;border-radius: 2vh;overflow: hidden;">
						<img id="img" src="<%=item.thumbnail%>" data-mdb-img="<%=item.thumbnail%>"
							style="width:100%; height: 180px;border-radius: 2vh;"/>
					</div>
					<div>
						<center>
							<!-- <h4 class="text-center mt-4 " style="font-family: Comic Sans MS;"><%=item.brand.substring(0,10)%></h4> -->
							<h6 class="text-center mt-4" style="font-family: Comic Sans MS;">
								<%=item.title.substring(0,20)%>
							</h6>
							<p class="text-center" style="font-size: 15px;">
								<%if(item.discountPercentage){%>

									<i class="fa fa-inr" aria-hidden="true" style="margin-left: 2vh;"></i> <span
										class="text-success"
										style="margin-left: -1vh;"><%=(item.price-((item.price*item.discountPercentage)
											/100)).toFixed(2)%></span>
									<del class="text-danger" style="font-size: 15px;margin-left: 0vh;">
										<%=item.price.toFixed(2)%>
									</del>
									<%}else{%>
										<span class="text-success">
											<%=item.price%> Rs.
										</span>
										<%}%>
							</p>
						</center>
						<%if(currentUser){%>
							
								<a onclick="addInToCart('<%=currentUser.id*1+1549%>','<%=item.id*1 + 2569%>')">
									<button style="width:100%;height: 6vh;margin-top: -1vh;"
										class=" rounded-pill btn btn-outline-dark" data-bs-toggle="modal"
										data-bs-target="#success_tic">order again</button>
								</a>

							<div id="success_tic" class="modal fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<a class="close" href="#" data-bs-dismiss="modal">&times;</a>
										<div class="page-body">
											<div class="head">
											</div>

											<h1 style="text-align:center;">
												<div class="checkmark-circle">
													<div class="background"></div>
													<div class="checkmark draw"></div>
												</div>
												<h1>
													<h2 id="mess"></h2>

										</div>
									</div>
								</div>

							</div>
								<%}%>
					</div>
				</div>
			</div>
            <%})%>
    <%-include('footer.ejs')%>
    </div>
    </body>
</html>