<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('ExternalLinks.ejs')%>
    <%-include('ExternalScript.ejs')%>
</head>
<body>
    <%-include('header.ejs')%>
    <%-include('div.ejs')%>
<br>
    <%-include('timer.ejs')%>
    <br><hr><h1 style="font-family: Comic Sans MS;">
         <label style="font-size: 8vh;color: red;">|</label><label style="margin-left: 2vh;;color: red;font-family: Comic Sans MS;"> Featured</label> Products
        
    </h1><br>
    <%-include('card.ejs')%><br>
    <%-include('footer.ejs')%>
    
</body>
</html>